.btn {
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 25rem;
  text-transform: uppercase;
  color: #de3131;
  border-color: #de3131;
}

.btn:focus {
  outline: none;
}

.btn:active {
  background-color: #de3131;
  color: white;
}

.btn-register-submit {
  margin-top: 5vh;
}

