.business-config-form-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: 6vh;
}

.business-config-page .btn {
  margin-top: 4vh;
}

.business-config-page .btn:hover {
  cursor: pointer;
}