.payment img {
  width: 300px;
  position: absolute;
  right: -300px;
  bottom: 200px;
  z-index: -1;
  animation: animate 3s linear forwards;
  transform: translateX(300px)
}

@keyframes animate {
  0% {
    right: -300px;
  }
  100% {
    right: 50%;
  }
}

.payment-page .form-control {
  margin-top: 0;
}

.purchase-info .btn {
  margin-top: 1vh;
}

.cpf-register-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.cpf-register-footer .btn{
  margin-right: 5px;
}

input {
  text-align: center;
}