* {
  font-family: calibri;
}

.App {
  text-align: center;
  height: 100vh;
  width: 37%;
  margin: auto;
  background-image: url('./images/bg-white.png');
  background-color: white;
  /* background-attachment: fixed; */
  background-repeat: none;
  background-position-y: center;
  background-position-x: -1.5vw;
  background-size: 40vw 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-simulated-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 60%;
  width: 70%;
  justify-content: space-between;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer-menu-item {
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .250rem .50rem;
  line-height: 1;
  border-radius: 25rem;
  text-transform: uppercase;
  color: #de3131;
  border-color: #de3131;
  line-height: 1em;
  background-color: #de3131;
  color: white;
  font-size: 0.8em;
}

.footer-menu-item:hover {
  cursor: pointer;
}

.footer-menu-item:focus {
  outline: none;
}

.footer-menu-item:active{
  background-color: white;
  color: #de3131;
}

.footer-menu-item a:-webkit-any-link {
  cursor: pointer;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
